.leftside,.rightside {
    height:100vh;
    width:100%;


}
.leftside {
    
    padding-top: 10rem;
    margin-top:20px;
    margin-left: 15px;
    
}
.rightside{
    
    padding-top: 10rem;
    margin-top:20px;
    height:100%;
    margin-left: 30px;
    background: url(img/india.png);
    margin-right: 5px;
    background-repeat: no-repeat;
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;

}

.navbar-brand img{
    height: 5rem;

}
.navbar-nav li {  /*---navigation bar list ---*/
    padding-right: .8rem;

}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;

}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover { 
  color:#ffee00;
}
/*----- services Section -----*/

.fixed{
    background-image: url(img/1.jpg);
    z-index: -1;
  }
  
  .dark {
    background-color: rgb(0, 0, 0, 0.75);
    color: #fff;
    padding: 7rem 3rem;
    background-image: url(img/1.jpg);
    background-repeat: unset;
  }
  
  .fixed-background h3 {
    margin-bottom: 2rem;
  }
  
  .fixed-background p {
    margin-top: 2.5rem;
  }

  /*----- services Section -----*/
  .regform{
    width:800px;
    
    margin:auto;
    color:#ffffff;
    padding: 10px 0px 10px 0px;

    border-radius: 15px 15px 0px 0px;
  
  }
  .main{
    
    width:800px;
    margin:auto;
  
  }
  form{
    padding:10px;
    color: whitesmoke;
  
  }
  .snk{
  
  color:lightseagreen;
  
  
    font-size:18px;
  
  }
  .h1{
    font-style: italic;
  }
  
 .checkbox-inline{
  margin-right: 15px;
 } 
  
  
  
  
  body{
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
    }
    .checkbox-inline{
      margin-right: 10px;
      margin-inline-start: 3px;
      font-style: italic;
    }


    /*footer*/
    footer{
      bottom: 0px;
      width:100%;
      background: #111;
      position: relative;
    }
    .main-content{
      display: contents;

    }
    .main-content .box{
      flex-basis:50%;
      padding:10px 20px;
    }
.box h2{
  font-size:1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin:20px 0 0 0 ;

}
.left.social{

}

















    @media (max-width: 767px) {
      .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
      }
      
      .caption h3{
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
      }
      
      .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
      }
    
      .narrow h1 {
        font-size: 1.5rem;
      } 
    
      #clients img {
        max-width: 50%;
        display: block;
        margin: 0 auto;
      }
    }
    
    
